@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar {
    display: none;
}

#topbar {
    position: relative;
    padding-bottom: 7.5vw;
}

img {
    width: 17.5vw;
}

#left {
    position: absolute;
    top: 0;
    left: 0;
}

#right {
    position: absolute;
    top: 0;
    right: 0;
}

#center {
    position: absolute;
    top: 0;
    left: 50.65%;
    height: 10vw;
    width: auto;
    transform: translateX(-50%);
}